@import "base";

@import "fontawesome/font-awesome";
@import "variables";

.intro-line h3 {
	font-weight: 300;
}

.panel-headline {
	font-size: 18px;
	font-weight: 300;
	// padding-left: 7px;
	text-transform: uppercase;
	letter-spacing: .07em;
  color: darken($light-blue, 20%);
}

.panel-content {
	// 
}
.dashboard-brick {
  padding: 20px;
  box-sizing:border-box;
      background-color: white;
       min-height: 150px;
       @include box-shadow($black-15 -2px -1px 5px 0px);
        &:hover {
      -webkit-box-shadow: -2px -1px 25px 0px $black-15;
    -moz-box-shadow:    -2px -1px 25px 0px $black-15;
    box-shadow:         -2px -1px 25px 0px $black-15;
    }

}
.dashboard-panel {
    position: relative;
   
    vertical-align: top;
    text-align: left;
    border-radius: 8px;
  
   
    h4 {
    	font-weight: 200;
    	font-size: 20px;
    }
	
}

.dashboard-grid {
  // @include mq(min, 475px){

  // }
    @include mq(475px, 1200px){
       @include media-grid(2, 30px, '.dashboard-panel');
    }
    @include mq(1200px){
        @include media-grid(4, 30px, '.dashboard-panel');
    }
    * {
      box-sizing:border-box;
    }
}


.inpanel-links {
	padding-top: 40px;
     .bullet-square{
       	color: lighten($light-blue, 24%);
       	padding-right: 8px;
       	font-size: 13px;
       }
       .control-links {
    	text-decoration: none;
    	color:$black-75;
    	line-height: .5em;
       }
       ul > li:hover {
       	.bullet-square { color: darken($light-blue, 24%) }
       	.control-links { color: $light-blue }
       }
}

.icon {
	font-size: 23px;
  color: $light-blue;
}


