@import "base";

@import "fontawesome/font-awesome";
.intro-line {
  clear:both;
  padding-top: 1em;
}

.intro-line h3 {
	font-weight: 300;
   clear:both;
   border-left: 7px solid $light-blue;
   @include box-shadow(lighten($light-blue, 20%) 7px 0px 0px 0px inset);
   vertical-align: middle;
  line-height: 2.5em;
  padding-left: 1em;

}

  .help h3 {
    border-left: 7px solid $red;
    @include box-shadow(lighten($red, 20%) 7px 0px 0px 0px inset);
  }

.panel-headline {
	font-size: 1.4em;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: .02em;
  color: $light-blue;
  padding-left: .2em;
}
.panel-decoration {
  background-color:lighten($light-blue, 30%);
  height: 13px;
  width: 100%;
  z-index: 1000;
  @include box-shadow ($light-blue  0 7px 0 0 inset)
}

.dashboard-grid {
  @include box-sizing(border-box);
  margin: 0 -1em;
  clear: both;
}

.dashboard-panel {
    vertical-align: top;
    text-align: left;
    border-radius: 4px;
}

.dashboard-brick {
 float: left;
 padding: 1em;
  @include box-sizing(border-box);
  @include mq(max, 540px){width: 100%} 
  @include mq(540px, 977px){width: 50%} 
  @include mq(977px, 1240px){width: 33.3%}
  @include mq(1240px, 1498px){width: 25%}
  @include mq(1498px, 1900px){width: 20%}
  @include mq(1900px){width: 16.6%}
   &:hover {
    }

}

.panel-content {
  padding: 2em;
  min-height: 210px;
  background-color: white;
  font-size: 1.1em;
  @include border-bottom-radius(1em);
  @include box-shadow($black-15 2px 2px 5px 0px);
    &:hover {
    @include box-shadow($black-15 2px 2px 25px 0px);
    }
}

.inpanel-links {
    list-style-type: disc;
    list-style-position: inside;
    padding: 20px 0 20px 20px;
    text-indent: -10px;

     .bullet-square{
       	color: lighten($light-blue, 24%);
       	padding-right: 8px;
       	font-size: 13px;
       }
       .control-links {
    	text-decoration: none;
    	color:$black-75;
    	line-height: .5em;
       }
       ul > li:hover {
       	.bullet-square { color: lighten($light-blue, 20%) }
       	.control-links { color: $light-blue }
       }
}

.icon {
	font-size: 1.4em;
  color: lighten($light-blue, 10%);
  float:left;
  padding-right: .4em;
}


