@import "base";
@import "fontawesome/font-awesome";

.intro-line h3 {
	font-size: 18px;
font-weight: 400;
line-height: 24px;
}

.panel-headline {
	font-size: 1.1em;
  line-height: 2em;
  border-bottom: 1px solid $black-15 ;
  padding-bottom: 6px;

}

.panel-decoration {
  height: 1px;
  width: 100%;
  background-color: lighten($light-blue, 24%);
  margin-top: 5px;
}

.dashboard-grid {
  @include box-sizing(border-box);
  margin: 0 -1em;
  clear: both;
}

.dashboard-brick {
 float: left;
 color: black;
 padding: 0em 1em 1.9em;
  @include box-sizing(border-box);
  @include mq(max, 540px){width: 100%} 
  @include mq(540px, 1220px){width: 50%} 
  @include mq(1220px, 1539px){width: 33.3%}
  @include mq(1539px, 1900px){width: 25%}
  @include mq(1900px){width: 20%}
}
.panel-content {
  padding: 1.6em 2.0em 0 2.3em;
  height: 200px;
  font-size: 1.1em;
  background-color: white;
  @include border-radius(4px);
}

.inpanel-links {
    list-style-type: disc;
    list-style-position: inside;
    padding: 16px 0 20px 20px;
    text-indent: -10px;
     .bullet-square{
       	padding-right: 4px;
       	font-size: 7px;
        vertical-align: middle;
       }
       .control-links {
    	text-decoration: none;
    	color:black;
    	line-height: .5em;
       }
       ul > li:hover {
       	.bullet-square { color: $blue }
       	.control-links { color: $light-blue }
       }
}

.icon {
	font-size: 1.1em;
  line-height: 1.6em;
  float:right;
  margin-top:-2px;
  margin-right: 2%;
}

